{% extends "base.html" %}
{% block content %}

<p>
<hr>
  Word Wander lets you enter a prefix, a suffix, and/or a root and get all of the German words which contain those roots/prefixes/suffixes.
  
  For example, if you enter 'ziehen' as a root you will get words like 'abziehen', 'aberziehen', 'aufziehen', und so wieter.
<p>
  <form action="/">Enter a prefix and/or root and/or suffix<p>
        <input type="textarea" rows="1" cols="10" name="prefix" value="{{prefix}}">
        <input type="textarea" rows="1" cols="10" name="root" value="{{root}}">
        <input type="textarea" rows="1" cols="10" name="suffix" value="{{suffix}}">

        <input type="submit" name="foo">
  </form>
  <p>

  <h3>Examples</h3>
  <form action="/">All words which include 'ziehen' <p>
        <input type="textarea" rows="1" cols="10" name="prefix" value="">
        <input type="textarea" rows="1" cols="10" name="root" value="ziehen">
        <input type="textarea" rows="1" cols="10" name="suffix" value="">
        <input type="submit" name="foo">
  </form>
  <p>

  <form action="/">Words which start with 'ab' and end with 'en'<p>
        <input type="textarea" rows="1" cols="10" name="prefix" value="ab">
        <input type="textarea" rows="1" cols="10" name="root" value="">
        <input type="textarea" rows="1" cols="10" name="suffix" value="en">
        <input type="submit" name="foo">
  </form>
  <p>

  <form action="/">Dampf words...<p>
        <input type="textarea" rows="1" cols="10" name="prefix" value="">
        <input type="textarea" rows="1" cols="10" name="root" value="dampf">
        <input type="textarea" rows="1" cols="10" name="suffix" value="">
        <input type="submit" name="foo">
  </form>
  <p>

  <h3>Concordance</h3>
  Paste a block of text...get a concordance
  <form action="/">
        <textarea rows="10" cols="100%" name="textblock" value=""></textarea>
        <br><input type="submit" name="foo">
  </form>
  <!--current query: {{query}}<br>
  cnt query: {{cnt_query}}<br>
  -->
<h3>Concordance</h3>

<table class="table table-striped">  
<tr>
<th>Wort</th>
<th>Zahl</th>
<th>Links</th>
</tr>

{% for word,cnt in concordance.items %}
  <tr>          
    <td width="25%">{{word}}</td> 
    <td width="10%">{{cnt}}</td>    
    <td><a href="http://dict.leo.org/#/search={{word}}&searchLoc=0&resultOrder=basic&multiwordShowSingle=on" target="_new"><img src="http://dict.leo.org/img/favicons/ende-929f8e10.ico"></a>
  <a href="http://translate.google.com/#de/en/{{word}}" target="_new"><img src="http://google.com/favicon.ico" width="22" height="22"></a></td>
  </tr>
{% endfor %}
</table>

<h3>Word lookup</h3>
<table class="table table-striped">  
{% for row in words %}
  <tr>
    <td width="25%">{{row.word}}</td> 
    <td><a href="http://dict.leo.org/#/search={{row.word}}&searchLoc=0&resultOrder=basic&multiwordShowSingle=on" target="_new"><img src="http://dict.leo.org/img/favicons/ende-929f8e10.ico"></a>
  <a href="http://translate.google.com/#de/en/{{row.word}}" target="_new"><img src="http://google.com/favicon.ico" width="22" height="22"></a></td>
  </tr>
{% endfor %}
</table>

<!--  <div class="col-md-4">{{row.word}} <a href="http://dict.leo.org/#/search={{row.word}}&searchLoc=0&resultOrder=basic&multiwordShowSingle=on" target="_new"><img src="http://dict.leo.org/img/favicons/ende-929f8e10.ico"></a>
  <a href="http://translate.google.com/#de/en/{{row.word}}" target="_new"><img src="http://google.com/favicon.ico" width="22" height="22"></a></div>
  -->
<!--  
  <div class="col-md-2"><a href="http://dict.leo.org/#/search={{row.word}}&searchLoc=0&resultOrder=basic&multiwordShowSingle=on" target="_new"><img src="http://dict.leo.org/img/favicons/ende-929f8e10.ico"></a>
  <a href="http://translate.google.com/#de/en/{{row.word}}" target="_new"><img src="http://google.com/favicon.ico"></a></div>
-->

</div>




<hr>


  <p>
 
  This uses the 'Free German Dictionary' of 1.6 million German words created by Jan Schreiber and 
  <a href="http://sourceforge.net/projects/germandict/">available here on sourceforge</a><p>

  
{% endblock %}


  <div class="row">
    <div class="col-md4">
      {{row.word}} 
    </div>
    <div class="col-md1">
      a
    </div>
    <div class="col-md1">
      b 
    </div>

  
  </div>


<!-- if row.top10k
            |(top10k word!)·
          a(href="/search?root=#{row.prefix}&search_type=prefix&top10k=#{row.top10k}") #{row.prefix}
          |#{root}
          a(href="/search?root=#{row.suffix}&search_type=suffix&top10k=#{row.top10k}") #{row.suffix}
          | &nbsp;&nbsp; (#{row.word})&nbsp;&nbsp;
          a(href="https://translate.google.com/#de/en/#{row.word}", target="_new") (translate.google.com)
          |&nbsp;-&nbsp;
          -->
          
            <div class="col-md4">  
      <a href="http://dict.leo.org/#/search={{row.word}}&searchLoc=0&resultOrder=basic&multiwordShowSingle=on" target="_new"><img src="http://dict.leo.org/img/favicons/ende-929f8e10.ico"></a>
    </div>
    <div class="col-md4">
      <a href="http://translate.google.com/#de/en/{{row.word}}" target="_new"><img src="http://google.com/favicon.ico"></a>
    </div>